<% if promotion.curator.nil? %>
  <% if promotion.creator.eql? current_user %>
    <p><%= t('.pending') %></p>
    <%= link_to t(:edit, scope: :interface), edit_promotion_path(promotion) %>
    <%= link_to t(:delete, scope: :interface), promotion, method: :delete %>
  <% else %>
    <%= link_to t('.approve'), approve_promotion_path(promotion), method: :put %>
  <% end %>
<% else %>
  <p><%= "#{t('.approved_by')} #{promotion.curator.email}" %></p>
<% end %>