<%= form_with model: promotion do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :description %></p>
  <p><%= f.text_area :description %></p>
  <p><%= f.label :code %></p>
  <p><%= f.text_field :code %></p>
  <p><%= f.label :discount_rate %></p>
  <p><%= f.number_field :discount_rate %></p>
  <p><%= f.label :maximum_discount %></p>
  <p><%= f.number_field :maximum_discount %></p>
  <p><%= f.label :coupon_quantity %></p>
  <p><%= f.number_field :coupon_quantity %></p>
  <p><%= f.label :expiration_date %></p>
  <p><%= f.date_field :expiration_date %></p>
  <p><%= f.label :product_categories %></p>
  <p><%= f.collection_check_boxes :product_category_ids, ProductCategory.all, :id, :name %></p>
  <p><%= f.submit "Salvar promoção"%></p>
<% end %>