<h3><%= promotion.name %></h3>
<p><%= promotion.description %></p>
<dl>
  <dt> <%= Promotion.human_attribute_name('discount_rate') %> </dt>
  <dd> <%= number_to_percentage promotion.discount_rate, precision: 2, separator: ',' %></dd>
  <dt> <%= Promotion.human_attribute_name('maximum_discount') %> </dt>
  <dd> <%= number_to_currency promotion.maximum_discount %> </dd>
  <dt> <%= Promotion.human_attribute_name('code') %> </dt>
  <dd> <%= promotion.code %></dd>
  <dt> <%= Promotion.human_attribute_name('expiration_date') %> </dt>
  <dd> <%= promotion.expiration_date.strftime('%d/%m/%Y') %></dd>
  <dt> <%= Promotion.human_attribute_name('coupon_quantity') %> </dt>
  <dd> <%= promotion.coupon_quantity %></dd>
  <dt> <%= Promotion.human_attribute_name('product_categories') %> </dt>
  <dd> <%= promotion.product_categories.names %></dd>
  <p> <%= "#{t('.created_by')} #{promotion.creator.email}" %></p>
</dl>

<% if promotion.curator.present? %>
  <%= render partial: 'approved_interface', locals: { promotion: promotion } %>
<% else %>
  <%= render partial: 'pending_interface', locals: { promotion: promotion } %>
<% end %>
