<h1 class="ls-title-intro ls-ico-list2 ls-no-bg">Promoções</h1>

<div class="ls-box ls-md-space">
  <div class="row">
    <div class="ls-float-left">
      <%= render partial: 'search_form' %>
    </div>
    <div class="ls-float-right">
      <%= link_to t('.new_promotion'), new_promotion_path, class: 'ls-btn' %>
    </div>
  </div>
</div>

<% if @promotions.empty? %>
  <p><%= t('.no_record_found') %></p>
<% else %>
  <%= render partial: 'promotions_preview', locals: { promotions: @promotions } %>
<% end %>

<%= link_to t(:back, scope: :interface), root_path, class:"ls-btn" %>
