<%= link_to t('.new_promotion'), new_promotion_path %>

<%= render partial: 'search' %>

<%= render partial: 'promotions_preview', locals: { promotions: @promotions } %>

<% if @promotions.empty? %>
  <p><%= t('.no_record_found') %></p>
<% end %>

<%# content_tag(:p, "Nenhuma promoção cadastrada" if @promotions.empty?) %>

<%= link_to t(:back, scope: :interface), root_path %>
