<% @promotion.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_with model: @promotion do |f| %>
  <p><%= f.label :name, "Nome" %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :description, "Descrição" %></p>
  <p><%= f.text_area :description %></p>
  <p><%= f.label :code, "Código do cupom" %></p>
  <p><%= f.text_field :code %></p>
  <p><%= f.label :discount_rate, "Desconto (%)" %></p>
  <p><%= f.number_field :discount_rate %></p>
  <p><%= f.label :coupon_quantity, "Quantidade de cupons" %></p>
  <p><%= f.number_field :coupon_quantity %></p>
  <p><%= f.label :expiration_date, "Data de término" %></p>
  <p><%= f.date_field :expiration_date %></p>
  <p><%= f.submit "Criar promoção"%></p>
<% end %>