<%= render @promotion %>

<%= link_to t(:back, scope: :interface), promotions_path %>

<% if(@promotion.coupons.empty? and @promotion.not_expired?) %>
  <%= link_to t('.issue_coupons'), issue_coupons_promotion_path(@promotion), method: :post %>
<% else %>
  <h1><%= Coupon.model_name.human(count:2) %></h1>

  <%= render @promotion.coupons %>
<% end %>
