<%= render @promotion %>

<%= link_to t(:back, scope: :interface), promotions_path %>

<% if @promotion.coupons.empty? %>
  <% if @promotion.not_expired? && @promotion.curator.present? %>
    <%= link_to t('.issue_coupons'), issue_coupons_promotion_path(@promotion), method: :post %>
  <% end %>
<% else %>
  <h1><%= Coupon.model_name.human(count:2) %></h1>
  <%= render @promotion.coupons %>
<% end %>
