<%= render @promotion %>

<% #TODO: Remove nested ifs %>
<% if @promotion.curator.nil? %>
  <% if @promotion.creator.eql? current_user %>
    <p>Aguardando aprovação</p>
  <% else %>
    <%= link_to t('.approve'), approve_promotion_path(@promotion), method: :put %>
  <% end %>
<% else %>
  <p>Aprovada por: <%= @promotion.curator.email %></p>
<% end %>
<%= link_to t(:edit, scope: :interface), edit_promotion_path(@promotion) %>
<%= link_to t(:delete, scope: :interface), @promotion, method: :delete %>
<%= link_to t(:back, scope: :interface), promotions_path %>

<% if(@promotion.coupons.empty? and @promotion.not_expired?) %>
  <%= link_to t('.issue_coupons'), issue_coupons_promotion_path(@promotion), method: :post %>
<% else %>
  <h1><%= Coupon.model_name.human(count:2) %></h1>

  <%= render @promotion.coupons %>
<% end %>
