<%= render @promotion %>

<%= link_to t(:edit, scope: :interface), edit_promotion_path(@promotion) %>
<%= link_to t(:delete, scope: :interface), @promotion, method: :delete %>
<%= link_to t(:back, scope: :interface), promotions_path %>

<% if(@promotion.coupons.empty? and @promotion.not_expired?) %>
  <%= link_to 'Emitir cupons', issue_coupons_promotion_path(@promotion), method: :post %>
<% else %>
  <h1><%= Coupon.model_name.human(count:2) %></h1>

  <%= render @promotion.coupons %>
<% end %>
