<!DOCTYPE html>
<html>
  <head>
    <title>PromotionSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Locastyle -->
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/3.10.1/stylesheets/locastyle.css">
  </head>

  <body>
    <%= render 'shared/topbar' %>

    <main class="ls-main">
      <div class="container-fluid">
        <!-- Alerts -->
        <%= content_tag(:div, success, class: 'ls-alert-success') if success.present? %>
        <%= content_tag(:div, notice, class: 'ls-alert-info') if notice.present? %>
        <%= content_tag(:div, alert, class: 'ls-alert-danger') if alert.present? %>
        
        <!-- Content -->
        <%= yield %>
      </div>
    </main>

    <!-- JQuery is a Locatyle dependency -->
    <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>

    <!-- Locastyle dependency. Must be placed after jQuery -->
    <script src="//assets.locaweb.com.br/locastyle/3.10.1/javascripts/locastyle.js"></script>
  </body>
</html>
