<!DOCTYPE html>
<html>
  <head>
    <title>PromotionSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <p><%= current_user.email %></p>
        <%= link_to Promotion.model_name.human(count:2), promotions_path %>
        <%= link_to ProductCategory.model_name.human(count:2), product_categories_path %>
      <% else %>
        <%= link_to "Login", new_user_session_path%>
        <%= link_to "Cadastre-se", new_user_registration_path%>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if flash[:success] %>
      <p><%= flash[:success] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
